body {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Nunito, sans-serif;
}

.navbar {
    width: 98%;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-bottom: 1px solid #ffffff1c;
    background-color: #060119;
}

a, p {
    color: #bebebe;
}

h1, h2, h3 {
    color: #00D8F5;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 32px;
}

h4 {
    color: #edebeb;
    font-size: 22px;
}

section {
    width: 100%;
    margin-bottom: 50px;
}

a {
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    font-size: 16px;
    padding: 4px;
}

a:hover {
    color: #00D8F5;
}

.logo-container{
    display: flex;
    align-items: center;
    margin-left: 20px;
}

nav img {
    width: 52px;
    height: 52px;
}

.title{
    font-weight: bold;
    font-size: 1.5rem;
}

#first_part {
    color: #00D8F5;
}

#second_part {
    color: #FF8C00;
}

nav ul{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 50%;
}

nav ul li{
    list-style: none;
}

nav ul li a{
    text-decoration: none;
    padding: 6px;
    width: 80px;
    font-size: 1.1rem;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease;
}

nav ul li a:hover{
    color: #00D8F5;
}

.menu-toggle {
    font-size: 1.5rem;
    color: rgba(255, 255, 255, 0.575);
    display: block;
    font-size: 1.5rem;
    position: relative;
    right: 0;
    left: 3rem;
    cursor: pointer;
}

.menu-toggle:hover {
    color: #00D8F5;
}

#particles-js {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: #050116;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
    min-height: 100vh;
    gap: 2rem;
    margin-top: 120px;
}

#home{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.danny-picture {
    width: 45%;
    height: 420px;
}

.tagline-container{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 2px;
    margin-top: 0;
}

.hero-section-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 0;
    width: 100%;
    padding: 0;
}

.hero-section-details h1{
    font-size: 48px;
    font-weight: 700;
    padding: 0;
    margin: 0;
}

.hero-section-details p{
    font-size: 16px;
    padding: 0;
    margin-top: 1px;
}

.auto-type {
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    border-right: 1px solid #fff;
    animation: auto-typing 8s steps(18) infinite, blink 0.5s infinite;
}

@keyframes auto-typing {
    0% {
        width: 0;
    }
    50% {
        width: 52%;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

.more-details {
    margin-top: 10px;
}

.social-link-container{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.social-link-container img{
    width: 28px;
    height: 28px;
    transition: transform 0.3s ease;
}

.social-link-container img:hover{
    transform: scale(1.08);
}

#resume-btn{
    padding: 8px;
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 16px;
    color: rgb(0, 0, 0);
    border-radius: 5px;
    background-color: #FF8C00;
    transition: background-color 0.3s;
    cursor: pointer;
}

#resume-btn svg {
    color: black;
    font-size: 16px;
}

#resume-btn:hover{
    background-color: #dc7a02;
}

#about {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.upper-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lower-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lower-container img {
    width: 45%;
    padding: 0;
    margin: 0;
}

.lower-container div {
    width: 60%;
}

#skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.skills-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 0;
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, 0.073);
    border-radius: 5px;
}

.carousel1, .carousel2, .carousel3 {
    width: 60%;
    max-width: 60%;
    height: 50px;
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, 0.182);
    position: relative;
    overflow: hidden;
    mask-image: linear-gradient(
        to right,
        rgba(0,0,0,0),
        rgba(0,0,0,1) 20%,
        rgba(0,0,0,1) 80%,
        rgba(0,0,0,0)
    );
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0;
}

.inner-wrapper1, .inner-wrapper2, .inner-wrapper3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 112px;
    height: 55px;
    padding: 0;
    border: 1px solid rgba(255, 255, 255, 0.182);
    border-radius: 5px;
    position: absolute;
    animation-name: scrollAnimation;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.inner-wrapper1 {
    left: max(calc(112px * 5), 100%);
    animation-name: scrollLeft;
}

.inner-wrapper2 {
    right: max(calc(112px * 6), 100%);
    animation-name: scrollRight;
}

.inner-wrapper3 {
    left: max(calc(112px * 6), 100%);
    animation-name: scrollLeft;
}


@keyframes scrollLeft {
    to {
        left: -120px;
    }
}

@keyframes scrollRight {
    to {
        right: -120px;
    }
}

.item1 {
    animation-delay: calc(30s / 5 * (5 - 1) * -1);
}

.item2 {
    animation-delay: calc(30s / 5 * (5 - 2) * -1);
}

.item3 {
    animation-delay: calc(30s / 5 * (5 - 3) * -1);
}

.item4 {
    animation-delay: calc(30s / 5 * (5 - 4) * -1);
}

.item5 {
    animation-delay: calc(30s / 6 * (6 - 5) * -1);
}

.div1 {
    animation-delay: calc(30s / 6 * (6 - 1) * -1);
}

.div2 {
    animation-delay: calc(30s / 6 * (6 - 2) * -1);
}

.div3 {
    animation-delay: calc(30s / 6 * (6 - 3) * -1);
}

.div4 {
    animation-delay: calc(30s / 6 * (6 - 4) * -1);
}

.div5 {
    animation-delay: calc(30s / 6 * (6 - 5) * -1);
}

.div5 {
    animation-delay: calc(30s / 6 * (6 - 6) * -1);
}

.wrap1 {
    animation-delay: calc(30s / 6 * (6 - 1) * -1);
}

.wrap2 {
    animation-delay: calc(30s / 6 * (6 - 2) * -1);
}

.wrap3 {
    animation-delay: calc(30s / 6 * (6 - 3) * -1);
}

.wrap4 {
    animation-delay: calc(30s / 6 * (6 - 4) * -1);
}

.wrap5 {
    animation-delay: calc(30s / 6 * (6 - 5) * -1);
}

.wrap5 {
    animation-delay: calc(30s / 6 * (6 - 6) * -1);
}

.inner-wrapper span {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    padding: 8px;
    border-radius: 50%;
    background-color: #b7b7b717;
}

.span-img {
    width: 34px;
    height: 34px;
}

.span-img-tools img {
    width: 25px;
    height: 25px;
    padding: 4px;
}

#portfolio, #certification, #contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.portfolio-container, .certs-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 50px;
    justify-content: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto; 
}

.portfolio-container h3 {
    color: #e4e3e3;
}

.sub-portfolio-container, .sub-cert-container {
    width: 100%;
    height: auto;
    overflow: hidden;
}

.sub-portfolio-container img, .sub-cert-container img {
    width: 100%;
    height: 250px;
    border: 1px solid rgba(255, 255, 255, 0.218);
}

.portfolio-btn-container, .cert-btn-container {
    width: 98%;
    height: 40px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sub-portfolio-btn-container {
    width: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 8px;
}

svg {
    width: 22px;
    height: 22px;
    padding: 8px;
    color: #FF8C00;
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;
}

.sub-portfolio-btn-container svg:hover {
    color: #00bcd4;
    background-color: #6c6b6b22;
}

.modal-container, #pf-cert-modal-overlay, #FCC-WD-cert-modal-overlay, #FCC-JS-cert-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.modal, .pf-cert-modal, .FCC-WD-cert-modal, .FCC-JS-cert-modal {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    width: 40%;
    height: 90%;
    padding: 20px;
    margin-left: 2%;
    margin-top: 2%;
    border-radius: 5px;
    z-index: 99999;
    overflow: scroll;
    background-color: rgba(255, 252, 252, 0.952);
    box-shadow: 4px 4px 16px rgba(255, 255, 255, 0.388);
}

.modal.active, .pf-cert-modal.active {
    transform: scale(1);
    opacity: 1;
}

.heading-container {
    width: 98%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    border: 1px solid black;
}

.heading-container h2 {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: #1a1a1a;
}

.sub-title {
    width: 80%;
    color: #e4e3e3;
}

.heading-container svg {
    width: 18px;
    height: 18px;
    color: black;
    border: 1px solid rgba(0, 0, 0, 0.136);
    border-radius: 50%;
    padding: 6px;
    cursor: pointer;
}

.heading-container svg:hover {
    background-color: #1c1b1b18;
}

.content-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 90%;
    gap: 0;
    padding: 0;
}

.content-container h3 {
    color: #1a1a1a;
}

.content {
    color: #1a1a1a;
    width: 98%;
    margin: 0;
    padding: 0;
}

.content a {
    color: blue;
}

li {
    margin-left: 20px;
}

.wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

/*-----------------------------------------------
                    Resposiveness 
-----------------------------------------------*/
@media screen and (max-width: 768px) {
    main {
        width: 90%;
        padding: 20px;
    }
}