:root {
    --custom-black: #1a1a1a;
    --body-bg-color: #050116;
    --text-color: #bebebe;
    --custom-cyan: #00D8F5;
    --custom-orange: #FF8C00;
    --navbar-color: #060119;
    --nav-links-hover-color: #00D8F5;
    --faded-border-color: #ffffff1c;
    --navbar-box-shadow-color: rgba(255, 255, 255, 0.077);
    --box-shadow-color: rgba(241, 241, 239, 0.31);
    --border-color: rgba(225, 225, 225, 0.234);
    --form-bg-color: rgba(225, 225, 225, 0.051);
    --form-input-bg-color: #c2d8ff;
    --form-btn-bg-color: #f79927;
    --input-bg-color: #c2d8ff;
    --portfolio-link-color: rgb(0, 115, 255);
    --soft-skill-article-bg-color: #d000f5;
    --tech-skill-article-bg-color: #c0e237;
    --tools-article-bg-color: #00D8F5;
    --h2-bg-color: rgba(225, 225, 225, 0.116);
    --footer-bg-color: rgb(182, 6, 185);
    --footer-link-color: rgb(0, 5, 1);
}


body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Nunito, sans-serif;
    background-color: var(--body-color);
}

#particles-js {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: var(--body-bg-color);
}

h1, h2, h3, h4 {
    color: var(--custom-cyan);
}

h2 {
    padding: 8px;
    border-radius: 5px;
    background-color: var(--h2-bg-color);
}

a, p {
    font-size: 18px;
    color: var(--text-color);
    transition: all 0.3s ease-in-out;
}

a:hover {
    color: var(--custom-cyan);
}

.title-part-one {
    color: var(--custom-cyan);
}

.title-part-two {
    color: var(--custom-orange);
}

header {
    width: 100%;
    height: 60px;
    position: fixed;
    padding: 10px;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-bottom: 1px solid var(--faded-border-color);
    background-color: var(--navbar-color);
    box-shadow: 2px 4px 10px var(--navbar-box-shadow-color);
}

.header-wrapper {
    display: flex;
    align-items: center;
}

.header-wrapper img {
    width: 3rem;
    height: 3rem;
}

.title-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.title-container h1 {
    font-size: 1.75rem;
    font-weight: bold;
}

.hamburger-icon {
    display: none;
    border: none;
    color: var(--text-color);
    background-color: transparent;
}

nav {
    width: 60%;
    height: auto;
    padding: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 80%;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
}

main {
    width: 60%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    margin-top: 10rem;
}

section {
    width: 100%;
    height: auto;
    padding: 10px;
}

#home {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: auto;
}

#home article {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.text-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
}

.text-container h1, p {
    padding: 5px;
    margin: 0;
}

.auto-type {
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    border-right: 1px solid var(--text-color);
    animation: auto-typing 10s steps(13) infinite, blink 0.5s infinite;
}

@keyframes auto-typing {
    0% {
        width: 0;
    }
    50% {
        width: 32%;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

.social-link-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 55%;
    margin-top: 20px;
}

.social-link-container a {
    text-decoration: none;
    transition: all 0.8s ease;
}

.social-link-container a:hover {
    transform: scale(1.1);
}

#resume-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80px;
    padding: 8px;
    font-weight: bold;
    color: var(--custom-black);
    border-radius: 5px;
    transition: all 0.9s ease;
    background-color: var(--custom-orange);
}

#resume-link:hover {
    transform: scale(1.02);
    background-color: var(--custom-cyan);
}

.social-link-container a img {
    width: 1.75rem;
    height: 1.75rem;
}

.main-picture {
    width: 35%;
    height: 21.875rem;
    border: none;
    border-radius: 5%;
}

#about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.content-wrapper img {
    width: 45%;
    height: 30.875rem;
    border: none;
    border-radius: 5%;
}

.text-wrapper {
    width: 55%;
}

#skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.skills-main-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.soft-skills-container,
.tech-skills-container,
.tools-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
}

.soft-skills-wrapper,
.tech-skills-wrapper,
.tools-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.soft-skills-wrapper{
    width: 80%;
}

.tech-skills-wrapper {
    width: 80%;
}

.tools-wrapper {
    width: 68%;
}

.soft-skills-wrapper article span {
    width: 2.75rem;
    height: 2.75rem;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.tech-skills-wrapper article img {
    width: 1.8rem;
    height: 1.8rem;
}

.tools-wrapper article img {
    width: 2rem;
    height: 2rem;
}

.soft-skills-wrapper article {
    width: auto;
    height: 4rem;
    background-color: var(--soft-skill-article-bg-color);
}

.tech-skills-wrapper article {
    width: 6rem;
    height: 4rem;
    background-color: var(--tech-skill-article-bg-color);
}

.tools-wrapper article {
    width: 6rem;
    height: 4rem;
    background-color: var(--tools-article-bg-color);
}

.soft-skills-wrapper article,
.tech-skills-wrapper article,
.tools-wrapper article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border-radius: 0.3125rem;
    box-shadow: 4px 4px 6px var(--box-shadow-color);
}


.soft-skills-wrapper article p,
.tech-skills-wrapper article p,
.tools-wrapper article p{
    font-weight: bold;
    color: var(--custom-black);
}

#portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.portfolio-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 20px;
    justify-content: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto; 
}

.portfolio-container article {
    display: flex;
    flex-direction: column;
    align-items: normal;
    justify-content: space-between;
    gap: 0;
    width: 420px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
}

.portfolio-container article img {
    width: 420px;
    border-radius: 5px;
}

.portfolio-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    border-top: 1px solid var(--border-color);
}

.portfolio-wrapper h3 {
    padding: 5px;
    width: 65%;
}

.portfolio-wrapper a {
    width: 30%;
    padding: 0;
    text-decoration: none;
    position: relative;
    z-index: 999;
    pointer-events: auto;
    color: var(--portfolio-link-color);
}

#certifications {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.certificate-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 20px;
    justify-content: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto; 
}

.certificate-container article {
    display: flex;
    flex-direction: column;
    align-items: normal;
    justify-content: space-between;
    gap: 0;
    width: 420px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
}

.certificate-container article h3 {
    padding: 5px;
}

.certificate-container article img {
    width: 420px;
    border-radius: 5px;
    border: 1px solid var(--border-color);
}

#contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact-container {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 2rem;
}

.contact-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 60%;
    gap: 0;
    padding: 0;
}

.contact-wrapper article {
    display: flex;
    align-items: center;
    justify-content: space-between;
    justify-content: flex-start;
    gap: 0.5rem;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 30px;
}

form {
    width: 45%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 2rem;
    padding: 5px;
    border-radius: 10px;
    background-color: var(--form-bg-color);
}

form h2 {
    padding: 0;
    margin-bottom: 0;
}

.form-content {
    display: flex;
    flex-direction: column;
    width: 90%;
    gap: 1rem;
}

.form-content label {
    color: var(--text-color);
}

.form-content input {
    width: 95%;
    padding: 10px;
    font-size: 1rem;
    color: var(--text-color);
    border: 1px solid var(--border-color);
    border-radius: 5px;
    background-color: var(--form-input-bg-color);
}

.form-content textarea {
    min-width: 95%;
    max-width: 95%;
    min-height: 150px;
    max-height: 150px;
    padding: 10px;
    font-size: 1rem;
    color: var(--custom-black);
    border-radius: 5px;
    background-color: var(--form-input-bg-color);
}

.form-content input,
.form-content textarea {
    outline: none;
}

.form-content button {
    width: 102%;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
    padding: 12px;
    background-color: var(--custom-orange);
    cursor: pointer;
    margin-bottom: 2rem;
}

.form-content button:hover {
    background-color: var(--form-btn-bg-color);
}

footer {
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--footer-bg-color);
    margin-top: 50px;
}

.main-footer-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    gap: 2rem;
}

.address-wrapper {
    width: 20%;
}

.about-me-wrapper {
    width: 30%;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.address-wrapper p strong {
    color: var(--custom-black);
    font-size: 17px;
    font-weight: bold;
}

.social-link-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 55%;
    margin-top: 20px;
}

.social-link-wrapper a {
    text-decoration: none;
    transition: all 0.8s ease;
}

.social-link-wrapper a:hover {
    transform: scale(1.1);
}

.social-link-wrapper a img {
    width: 1.5rem;
    height: 1.5rem;
}

.footer-links {
    width: 15%;
    height: 220px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.footer-links li {
    list-style: none;
}

.footer-links li a {
    text-decoration: none;
    padding-top: 10px;
    color: var(--footer-link-color);
}

.footer-links li a:hover {
    text-decoration: underline;
}

.copyright-wrapper {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: baseline;
}

.copyright-wrapper p {
    font-size: 0.875rem;
    padding-left: 15px;
    margin-top: 5rem;
}